{% extends '::base.html.twig' %}

{% form_theme form 'EBCoreBundle:Form:fields.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Product creation</h1>
            {{ form(form) }}
            <ul class="record_actions">
                <li>
                    <a href="{{ path('product') }}">
                        Back to the list
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
